/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
margin: 0;
padding: 0;
}

html, body {
}

body {
background-color: #222;
color: #fff;
font: 13.34px "Palatino", "Book Antiqua", "Helvetica Neue", Helvetica, Arial, clean, sans-serif;
  *font-size: small;
text-align: center;
}

h1, h2, h3, h4, h5, h6 {
font-size: 100%;
color: #fff;
}

h1 {
margin-bottom: 1em;
}

p {
margin: 1em 0;
color: #fff;
}

a {
color: rgba(255, 255, 255, 0.8);
}



a:visited {
color: rgba(255, 255, 255, 0.8);
}

table {
font-size: inherit;
font: 100%;
}

article {
}

article time {
display: block;
margin-top: 2.5em;
margin-bottom: 0.25em;
text-transform: uppercase;
color: #b3b3b3;
font-weight: bold;
font-family: "Palatino", "Book Antiqua", "Helvetica Neue", Helvetica, Arial, clean, sans-serif;
}

article h2 {
margin-top: 0;
}

hr {
margin: 1.5em 0;
border-top-color: #111;
border-top-style: none;
border-top-width: 1px;
border-bottom-color: #444;
border-bottom-style: dashed;
border-bottom-width: 1px;
border-left: none;
border-right: none;
}

footer {
  padding-bottom:5px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
list-style-type: none;
margin-bottom: 2em;
}

  ul.posts li {
line-height: 1.75em;
}

  ul.posts span {
color: #aaa;
font-family: "Palatino", "Book Antiqua", "Helvetica Neue", Helvetica, Arial, clean, sans-serif;
font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
font-size: 110%;
text-align: justify;
width: 40em;
margin: 3em auto 2em auto;
line-height: 1.5em;
}

.title {
color: #fff;
font-weight: bold;
margin-bottom: 2em;
font-family: "Palatino", Helvetica, Arial, clean, sans-serif;
}

  .site .title a {
color: #fff;
text-decoration: none;
}

  .site .title a:hover {
color: #B3B3B3;
}

  .site .title a.extra {
color: #fff;
text-decoration: none;
margin-left: 1em;
}

  .site .title a.extra:hover {
color: #B3B3B3;
}

  .site .meta {
color: #aaa;
}

ul.vcard {
display: none;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
}

  /* standard */

  #post pre {
border: 1px solid #ddd;
background-color: #eef;
padding: 0 .4em;
}

  #post ul,
  #post ol {
margin-left: 1.25em;
}

  #post code {
color: rgb(0,255,0);
background-color: #000;
font-size: 95%;
padding: 0 .2em;
}

    #post pre code {
border: none;
}

  /* terminal */

  #post pre.terminal {
border: 1px solid black;
background-color: #333;
color: white;
}

  #post pre.terminal code {
background-color: #333;
}

#related {
margin-top: 2em;
}

  #related h2 {
margin-bottom: 1em;
}

.post_title {
color: rgba(255, 255, 255, 0.8);
text-decoration: none;
border-bottom: 1px dashed;
}

a:visited.post_title {
color: rgba(255, 255, 255, 0.8);
}

a:hover.post_title {
color: #000;
background-color: rgba(255, 255, 255, 0.8);
border: none;
}


ol#archive {
margin: 0;
padding: 0;
border: none;
list-style-type: none;
color: #fff;
}

ol#archive li {
margin-bottom: 0.313em;
}

ol#archive li:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

ol#archive li time {
float: left;
display: block;
width: 8em;
}

ol#archive li p {
margin: 0;
padding: 0;
border: none;
width: 37em;
}
  
/* contact */
#networks {
width: 500px;
float: left;
}

#networks li {
width: 250px;
height: 60px;
float: left;
list-style-type: none;
}

#networks li a {
display: block;
width: 265px;
height: 45px;
padding: 10px 0 3px;
text-decoration: none;
-webkit-transition: background-color 0.25s linear;
}

#networks li a:hover,
#networks li a:focus {
background: rgba(164, 173, 183, .15);
}

#networks li a:active {
background: rgba(164, 173, 183, .25);
padding: 10px 0 3px
}

#networks li a img {
float: left;
margin: 0 10px 0 15px;
-webkit-transition: margin-left 0.25s linear;
}

#networks li a strong {
color: #fff;
font: 18px/20px "Palatino", "Helvetica Neue", Helvetica, Arial, sans-serif;
display: block;
padding-top: 2px;
}

/* lifestream */
#lifestream {
padding-bottom: 50px;
}

#lifestream li {
padding: 5px 3px 5px 25px;
background-repeat: no-repeat;
background-position: left center;
list-style-type: none;
}
