/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #222;
  font: 13.34px "Helvetica Neue", Helvetica, Arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  color:#fff;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
  color:#fff;
}

a {
  color: rgba(255, 255, 255, 0.8);
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

article time
{ display:block;
  margin-top:2.5em;
  margin-bottom:0.25em;
  text-transform:uppercase;
  color:#b3b3b3;
  font-weight:bold;
  font-family:"Helvetica Neue","Helvetica",sans-serif; }

article h2
{ margin-top:0; }

hr
{ margin:1.5em 0;
  border-top-color:#111;
  border-top-style:solid;
  border-top-width:1px;
  border-bottom-color:#444;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left:none;
  border-right:none; }


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #fff;
  font-weight: bold;
  margin-bottom: 2em;
  font-family:"Monaco", Helvetica, "Helvetica Neue";
}

  .site .title a {
    color: #fff;
    text-decoration: none;
  }

  .site .title a:hover {
    color: #B3B3B3;
  }

  .site .title a.extra {
    color: #fff;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: #B3B3B3;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.25em;
  }

  #post code {
    color: rgb(0,255,0);
    background-color: #000;
    font-size: 95%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

.post_title {
  color:#fff;
  text-decoration: none; 
  border-bottom:1px dashed;
}

.post_title a, a:visited, a:hover {
  color:#fff;
}

ol#archive
{ margin:0;
  padding:0;
  border:none;
  list-style-type:none;
  color:#fff; }

ol#archive li
{ margin-bottom:0.313em; }

ol#archive li:after
{ content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden; }

ol#archive li time
{ float:left;
  display:block;
  width:8em; }

ol#archive li p
{ margin:0;
  padding:0;
  border:none;
  width:37em; }