# Migrated from `date` to `pretty` permalink structure.
RewriteEngine On

# Directory index is never accessible.
# 
#   /index.html     -> /
#   /foo/index.html -> /foo/
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_URI} ^\/.*index\.html$
RewriteRule ^(.*)index.html$ http://robbie.io/$1 [R=301,L]

# Continue to support deprecated permalink structure.
# 
#   /2009/09/09/foo.html -> /2009/09/09/foo/
RewriteCond %{REQUEST_URI} \/\d{4}\/\d{2}\/\d{2}\/.+\.html$
RewriteRule (.+).html$ http://robbie.io/$1/ [R=301,L]

# Append trailing slash to directories.
# Borrowed from http://gist.github.com/97822
#
#   /foo -> /foo/
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME} !/$
RewriteRule ^(.*)$ http://robbie.io/$1/ [R=301,L]

# Compress static assets
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

# Set Expires Headers
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Expires "Thu, 15 Jan 2015 20:00:00 GMT"
</FilesMatch>

# Set the cache-control max-age
# 1 year
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Cache-Control "max-age=31449600, public"
</FilesMatch>
# 2 DAYS
<FilesMatch "\.(xml|txt)$">
Header set Cache-Control "max-age=172800, public, must-revalidate"
</FilesMatch>
# 4 HOURS
<FilesMatch "\.(html|htm)$">
Header set Cache-Control "max-age=14400, must-revalidate"
</FilesMatch>

# Pretty error page
ErrorDocument 404 http://robbie.io/404-not-found.html

# Mime types
AddType application/x-woff woff

