<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Robbie Trencheny" />
   <link href="http://feeds.feedburner.com/tom-preston-werner" rel="alternate" title="Robbie Trencheny" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Robbie Trencheny</a>
    <a class="extra" href="/">home</a>
    <a class="extra" href="/about.html">about</a>
  </div>
  
  {{ content }}
  
  <hr>
  <footer>
    <p>
      <a href="{{ base.url }}/about.html">Robbie Trencheny</a> is a 19 year old web developer and startup founder living in Oakland, California. You can follow me on <a href="http://twitter.com/robbie">Twitter</a>, hear what I listen to on <a href="http://last.fm/user/robbiet480/">Last.fm</a> or fork my code on <a href="http://github.com/robbiet480">GitHub</a>
    </p>
  </footer>
</body>
</html>
