<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <link href="{{ site.url }}/atom.xml" rel="alternate" title="Robbie Trencheny" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  
   <!-- Lifestream -->
   <link rel="stylesheet" href="/css/lifestream.css" type="text/css" />

   <!-- favicons -->
   <link rel="shortcut icon" type="image/x-icon" href="/images/new_rt.png" />
   <link rel="icon" type="image/x-icon" href="/images/new_rt.png" />

   <meta property="og:title" content="{{ page.title }}" />
   <meta property="og:type" content="blog" />
   <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
   <meta property="og:site_name" content="{{ site.url }}" />
   <meta property="fb:admins" content="{{ site.facebook_uid }}" />
   <meta property="og:description" content="Robbie Trencheny's main braindumping ground for writing" />
   <meta property="og:image" content="{{ site.url }}/images/new_rt.png" />
   <meta name="keywords" content="robbie trencheny, robbie, trencheny, mac, apple, startup, video chat, video, music, electronic, hacking, hackerspaces, oakland, california, oakland california, bay area, nerd, geek, teen">
   <meta name="description" content="Robbie Trencheny's main dumping ground for writing">
   <meta name="author" content="Robbie Trencheny">
   <meta name="robots" content="all">
   <meta name="copyright" content="© 2011 Robbie Trencheny">

   <!-- iPhone -->
   <meta name="apple-mobile-web-app-capable" content="yes" />
   <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
   <meta name="viewport" content = "width = device-width, initial-scale = 0.5, maximum-scale = 5" />
   <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/images/new_rt.png"/>
   
   <!-- Microformats -->
   <link rel="me" type="text/html" href="http://twitter.com/robbie" /> 
   
   <!-- jQuery and externals -->
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
   <script type="text/javascript" src="https://raw.github.com/christianv/jquery-lifestream/master/jquery.lifestream.min.js"></script>
   <script type="text/javascript" src="http://fgnass.github.com/spin.js/spin.min.js"></script>
   <script type="text/javascript" src="https://raw.github.com/madrobby/keymaster/master/keymaster.min.js"></script>
   <script type="text/javascript" src="http://konami-js.googlecode.com/svn/trunk/konami.js"></script>
   <script src="http://connect.facebook.net/en_US/all.js"></script>

   <script type="text/javascript">
    FB.init({
        xfbml  : true, // parse XFBML
        channelUrl : '{{ site.url }}/channel.html' // channel.html file
      });
    
      if( navigator.userAgent.match(/iPhone/i) || 
            navigator.userAgent.match(/iPod/i) || 
            navigator.userAgent.match(/iPad/i)
          ) {
               document.title = "{{ site.url }}";
            }
    
    $(document).ready(function() {
      var opts = {
        lines: 12, // The number of lines to draw
        length: 7, // The length of each line
        width: 5, // The line thickness
        radius: 10, // The radius of the inner circle
        color: '#fff', // #rbg or #rrggbb
        speed: 1, // Rounds per second
        trail: 100, // Afterglow percentage
        shadow: false // Whether to render a shadow
      };
      var target = document.getElementById('lifestream');
      var spinner = new Spinner(opts).spin(target);
           $("#lifestream").lifestream({
               limit: 20,
               feedloaded: feedcallback,
                list:[
                  {
                    service: "github",
                    user: "robbiet480"
                  },
                  {
                    service: "twitter",
                    user: "robbie"
                  },
                  {
                    service: "lastfm",
                    user: "robbiet480"
                  },
                  {
                    service: "foursquare",
                    user: "BZRYSLNWCDV1MYFYSY2V2KLNDRD2VRRC",
                    template: {
                      checkedin: 'I checked in at <a href="${link}">${title}</a>'
                    }
                  },
                  {
                    service: "reddit",
                    user: "robbiet480"
                  },
                  {
                    service: "stackoverflow",
                    user: "486182"
                  }
                ]
              });     
       });
     function feedcallback() {
       $('#lifestream').css('padding-bottom','0px');
       var spinner = new Spinner().stop();
     }


     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-25380159-1']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
     
     //Home
     key('h', function(){ window.location = '/' });
     //About
     key('o', function(){ window.location = '/about.html' });
     //Lifestream
     key('l', function(){ window.location = '/life.html' });
     //Contact
     key('c', function(){ window.location = '/contact.html' });
     
     //Secret
     konami = new Konami()
     konami.load("http://nyan.cat/");
     </script>
</head>
<body>

<div class="site">
  <div class="title">
    <a title="input/output">robbie/trencheny</a>
    <a class="extra" href="/">home</a>
    <a class="extra" href="/about.html">about</a>
    <a class="extra" href="/life.html">lifestream</a>
    <a class="extra" href="/contact.html">contact</a>
  </div>
  
  {{ content }}
  
  <hr>
  <footer>
    <p>
      <a href="{{ base.url }}/about.html">Robbie Trencheny</a> is a 19 year old web developer and startup <a href="http://sutterstudios.com">founder</a> living in Oakland, California. You can follow me on <a href="http://twitter.com/robbie">Twitter</a>, hear what I listen to on <a href="http://last.fm/user/robbiet480/">Last.fm</a> or fork my code on <a href="http://github.com/robbiet480">GitHub</a>. If you want you can <a href="tel:+19258843728">call</a> me.
    </p>
  </footer>
  <ul class="vcard">
      <li class="fn">Robbie Trencheny</li>
      <li class="tel">9258843728</li>
      <li class="locality">Oakland</li>
      <li class="region">California</li>
      <li class="country-name">United States</li>
      <li><a class="email" href="mailto:me@robbiet.us">me@robbiet.us</a></li>
      <li><a class="url" href="{{ site.url }}">{{ site.url }}</a></li>
      <li><a class="url" href="aim:goim?screenname=robbiet480">AIM</a></li>
      <li><a class="url" href="xmpp:robbie.trencheny@gmail.com">Jabber</a></li>
  </ul>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = '{{ site.disqus_username }}'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
  </script>
</body>
</html>
